# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore macOS system files
.DS_Store

# Ignore PyCharm settings
.idea/

# Ignore personal notes
notes.txt

# Ignore .env file
.env

# Ignore Python filed created for notes
step_1.py
test_connection.py
crater_detection.py

# Ignore directory
app/backend/mcad/
app/backend/mcad/data/
app/backend/mcad/data/database/
data/